* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main-panel {
  background: transparent;

  text-align: center;
  margin-top: 40px;
}

#subtitulo {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

#main-panel .img-up {
  overflow: hidden;
  display: inline-block;
}

#main-panel #can_img {
  width: 230px;
  height: 230px;
  border-radius: 16px;
}

#main-panel #subir_imagen {
  width: 50px;
  height: 50px;
}

#main-panel .info {
  text-align: center;
  width: 650px;
  height: 250px;
  background-color: transparent;
  float: right;
}

#main-panel .cancion {
  width: 800px;
  height: 10%;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  background-color: transparent;
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#main-panel .inputs-subir {
  float: right;
  width: 480px;
  padding: 3px;
  background: transparent;
  border: 2px solid white;
  border-radius: 8px;
  outline: none;
}

#main-panel .labels-subir {
  float: left;
  color: white;
}

#main-panel #descripcion {
  height: 40px;
}

#main-panel #play {
  width: 50px;
  float: left;
  margin-left: 20px;
  background: transparent;
  border: none;
}

#main-panel #barrita {
  width: 650px;
  margin-left: 40px;
}

#main-panel #tiempo {
  margin-left: 10px;
}

#main-panel .botones {
  float: left;
  width: 50%;
  margin-left: 200px;
  margin-top: 40px;

  text-align: center;
}

#main-panel #btn_subir {
  padding: 6px;
  border-radius: 12px;
  background: transparent;
  color: white;
}

#main-panel #btn_subir:hover {
  color: black;
}

#main-panel .superior {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#main-panel #subtitulo {
  display: inline;
}

#Recarga {
  margin-top: 10px;
  border: dashed 1px red;
  width: 280px;
  height: 250px;
}
