main {
  padding-top: 50px;
}

main #subtitulo {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

main .img-up {
  overflow: hidden;
  display: inline-block;
}

main #can_img {
  width: 230px;
  height: 230px;
  border-radius: 16px;
}

main #subir_imagen {
  width: 50px;
  height: 50px;
}

main .info {
  text-align: center;
  width: 620px;
  background: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  float: right;
  border-radius: 15px;
}

main .cancion {
  width: 800px;
  height: 10%;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  background-color: transparent;
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
}

main .inputs-subir {
  background: unset;
  border: unset;
  border-bottom: 2px solid white;
  font-size: 15px;
  padding: 5px;
  width: 500px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

main .inputs-subir::placeholder {
  color: rgb(209, 209, 209);
}

main .inputs-subir:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}

main #play {
  width: 50px;
  float: left;
  margin-left: 20px;
  background: transparent;
  border: none;
}

main #barrita {
  width: 650px;
  margin-left: 40px;
}

main #tiempo {
  margin-left: 10px;
}

main .botones {
  float: left;
  width: 100%;

  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .superior {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

main #subtitulo {
  display: inline;
}

main #archivo {
  margin-top: 60px;
}

main #Recarga {
  border: solid 1px white;
  width: 250px;
  height: 250px;
}

main .uploaded-img {
  width: 250px;
}

main #btn_subir {
  background-color: #082032d0;
  color: white;

  width: 200px;
  height: 50px;

  border: unset;
  cursor: pointer;
  border-radius: 5px;
}

main #btn_subir:hover {
  background-color: #082032;
}

main #tiempoCont {
  margin-bottom: 20px;
}
