#mainPanel {
  display: block;
}

#carousel-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  background-color: azure;
  margin: auto;
  overflow: hidden;
}

#carousel-sec #interCarousel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  overflow: hidden;
}

#carousel-sec button{
  width: 40px;
}

#carousel-sec img{
  width: 50px;
}


#hiddenCart{
  transition: transform;
  transition-duration: 5s;
  background-color: aqua;
}

#hiddenCart.show{
  transform: translateX(-50%);
  filter: brightness(50%);
}

.cSong{
  width: 20vw;
  background-color: brown;
}