/* Font color */
.carousel-sec {
  color: white;
}
.carousel-sec .artistAndAlbum {
  color: rgb(168, 168, 168);
}

.carousel-sec {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-sec .title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.carousel-sec #interCarousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: content;
  width: auto;
  overflow: hidden;
}

.carousel-sec #hiddenCart.show {
  transform: translateX(-50%);
  filter: brightness(50%);
}

.carousel-sec .cSong {
  flex-shrink: 0;
  width: 18vw;
  height: 360px;
  margin-left: 4vw;
  margin-right: 4vw;
  background-color: #382f50;
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(50%) blur(1px);
  background-color: #382f5000;
  transition: transform 0s, filter 0s, background-color 0.5s;
}

.carousel-sec .cSong .songImage {
  width: 100%;
  height: auto;
}

.carousel-sec .cSong h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}

.carousel-sec .cSong .artistAndAlbum {
  word-spacing: 2px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.carousel-sec .cSong .icon {
  position: absolute;
  margin-left: 3.6vw;
  margin-top: 3.6vw;
  width: 10vw;
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.carousel-sec .cSong:hover {
  background-color: #1e512852;
}

.carousel-sec .cSong:hover .icon {
  opacity: 1;
  cursor: pointer;
}

.carousel-sec .cSong .icon:hover {
  transform: scale(1.1);
}

.carousel-sec .cSong.right {
  transform: translateX(26vw);
  transition: transform 1s, filter 1s;
}

.carousel-sec .cSong.left {
  transform: translateX(-26vw);
  transition: transform 1s, filter 1s;
}

.carousel-sec .cSong.show {
  filter: brightness(100%);
  transition: transform 1s, filter 1s;
}

.carousel-sec .cSong.hidde {
  filter: brightness(50%);
  transition: transform 1s, filter 1s;
}

.carousel-sec #right {
  position: absolute;
  right: 25px;
  height: 60px;
  transform: rotate(180deg);
  cursor: pointer;
}

.carousel-sec #left {
  position: absolute;
  left: 55px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}
