@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/*    Main    */
main{
    display: flex;

    width: 100vw;
    height: 84vh;
    
    background: linear-gradient(322deg, rgba(164,165,239,1) 0%, rgba(223,157,192,1) 100%);

    transition: width .5s; 
}

#mainPanel{
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

