main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section {
    background: linear-gradient(30deg, rgba(255,255,255,0.05), rgba(255,255,255,0.1));
    color: #ffffff; 
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: 2vh 0;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
}

#planes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.main-section form{
    margin-top: 10px;
}

.main-h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.precio {
    font-weight: bold;
    color: #4caf50;
    margin: 2vh 0;
}

.main-button {
    background-color: #082032d0;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-button:hover {
    background-color: #082032;
}

.main-li {
    text-align: left;
    padding: 5px;
    margin-bottom: 25px;
}

.main-icon {
    margin-top: 5vh;
    height: 50px;
}

.main-section ul p{
    text-align: left;
}

#presentPlan{
    display: flex;
    margin: auto;
    align-items: center;
    width: fit-content;
    height: 84vh;
    padding: 30px;
}
  
#textSide{
    height: min-content;
    width: 40vw;
    text-align: center;
    padding: 20px;
}
  
#textSide h3{
    font-size: 35px;
    margin-bottom: 10px;
}
  
#textSide button {
    background-color: #082032d0;
    color: white;
  
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border: unset;
    cursor: pointer;
    border-radius: 5px;
}
  
#textSide button:hover {
    background-color: #082032;
}