.yeebody {
  background-color: #f8f8f8;
  color: black;
  line-height: 1.6;
}

.maiheader {
  text-align: center;
  padding: 20px;
}

.titulo {
  color: black;
  font-size: 35px;
}

.poli-priv {
  margin-top: 20px;
  padding: 15px;
}

.pe {
  margin-bottom: 15px;
}

.derechosF {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
}
