.maibudi {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user {
  color: #000000;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.pe {
  color: #050404;
  padding: 3px;
}

.thisimg {
  max-width: 250px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.ola {
  padding: 5px;
  text-align: left;
  margin: 0; 
}

.procont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; 
}

.imgsect {
  text-align: right;
  margin-right: 15px;
}

.userinf {
  text-align: left;
  margin: 0; 
  padding: 50px;
}
